.layout {
  background-color: #FCFCFC;
  min-height: 100vh;
  height: 100vh;
}
.title {
    font-family: "Open Sans Light";
    font-size: 36px;
    color: #444444;
    font-weight: 100;
    text-align: left;
    margin-left: 1vw;
}
