.btn {
  width: 100%;
}
.btn:hover {
  cursor: pointer;
}
.inputTaskCls {
  width: 100%;
}
.titleInside {
  font-family: 'Open Sans';
  font-size: 20px;
  color: #8b9da7;
  text-align: left;
}

.group {
  display: flex;
}
.leftAllign {
  text-align: left;
}
.completedText {
  text-align: left;
  text-decoration: line-through;
}
.imgCls {
  position: absolute;
  left: 3vw;
  top: 2vh;
}
.textCls {
  color: #0082d4;
}

.errCls {
  color: #c22a22;
  margin-left: 1vw;
}
.utilityBtnCls {
  background-color: #0082d4;
  color: #fff;
  border: #fff;
}
.utilityBtnCls:hover {
  cursor: pointer;
}
.inputClsErr {
  border: 2px solid #c22a22;
  width: 100%;
}

.orderingCls {
  display: flex;
}
.arrows {
  max-width: 20px;
  max-height: 20px;
}
.arrows:hover {
  cursor: pointer;
}
.hoverCls:hover {
  cursor: pointer;
}
.verticalPagingCls:hover{
  cursor: pointer;
}